/*------------------------------------*\
    #TEXT-ALIGN
\*------------------------------------*/

/**
 * Text align
 */
.text--left,
%text--left{
    text-align: left !important;
}

.text--right,
%text--right{
    text-align: right !important;
}

.text--center,
%text--center{
    text-align: center !important;
}
